@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
:root{--light-gray: #1b3b41;
      --grid_item: #f3f9ff;
      --bg-black: #010103;
      --base-font-size: 17px;}
html{font-size: var(--base-font-size);
     font-family: "Google Sans Flex", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings: "slnt" 0,"wdth" 80,"GRAD" 0,"ROND" 0;
     scroll-behavior: smooth;}
     
*{box-sizing: border-box; margin: 0; padding: 0;}
a{text-decoration: none; color: inherit; cursor: pointer;}

header{background-color: var(--bg-black);
       color: white;
       display: flex;
       align-items: center; 
       height: 160px;}
header span{padding: 10px; font-size: 2.5rem;}
header div{flex-grow: 2; margin: auto; text-align: center;}
header a img{width:120px; height: 120px; margin: 5px 10px;}

nav{background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    text-align: flex-start;}

nav a{padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;}

.centered_heading{ text-align: center;
                   margin: 20px 0;
                   font-size: 2rem;
                   color: #000000}

.block_content{max-width: 800px;
               margin: 20px auto 20px auto;
               padding: 0 20px;
               font-size: 1.1rem;
               line-height: 1.6;
               color: #000000;}  
  

.support_botton{font-weight: 600;
                display:block;
                margin: auto;
                width: 250px;
                height: 100px;
                color: white;
                background-color: rgb(0, 0, 0);
                font-size: 1.1rem;
                border: 10px solid var(--bg-black);
                cursor: pointer;
                border-radius: 20px;
                padding: 20px;
                margin: 20px auto;} .support_botton:hover{background-color: #ffffff;color: black;}

.grid_container{ display: grid;
                 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* try auto-fill */
                 gap: 20px;
                 padding: 20px;
                 width: 100%;
                 margin: 0 auto;
                 background-color: var(--light-gray);}

.grid_item{display:flex;
           flex-direction: column;
           align-items: center;
           background-color: var(--grid_item);
           padding: 15px;
           border-radius: 8px;
           box-shadow: 0 2px 5px rgba(0,0,0,0.1);}

.grid_item img{
  width: 100%;
  height: auto;
  border-radius: 9px;
  margin-bottom: 10px;}
  
.text{
  font-size: 1.2rem;
  line-height: 1.6;
  color: #FFFFFF;
  margin: 20px;
  padding: 20 0px;}

.visual_element{
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--bg-black);}

footer{display: flex;
       flex-direction: column;
       align-items: flex-end; 
       background-color: var(--bg-black);
       color: white;
       text-align: center;
       padding: 15px 0;
       margin-top: 5px;}
footer a{color: white;
         margin: 5px 10px;
         font-size: 1.1rem;
         text-decoration: none;}

@media (min-width: 768px){
  header span{display: none;}
  header div{text-align: left; margin-left: 40px;}
  header img{height: 200px; width: 200px;}
  nav{display: flex!important; flex-direction: row; justify-content: center; border-bottom: 5px solid var(--bg-black);}
  nav a{border-right: 5px solid var(--bg-black);}
  nav a:last-child{border-right: none;}

  .flex768{display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           align-items: center;
           justify-content: center;
           border-right: 140px solid #000000;}

  .flex768 h2, .flex768 p{
    max-width: 600px;
    margin: 30px;}
}
