@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --light-green: #dcf0d4;
  --grid_item: #e8eef8;
  --bg-black: #000000;
  --text-white: #ffffff;
  --base-font-size: 16px;}
html{font-size: var(--base-font-size);
     font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     font-variation-settings:"wdth" 100;}
*{box-sizing: border-box; margin: 0; padding: 0;}

header{
  background-color: var(--bg-black);
  color: var(--text-white);
  display: flex;
  align-items: center; height: 160px;}
header span{padding: 10px; font-size: 2.5rem;}
header div{flex-grow: 2; margin: auto; text-align: center;}
header a img{width:100px; height: 100px; margin: 5px 10px;}

nav{background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    text-align: flex-start;}

nav a{padding: 15px 20px;
  text-decoration: none;
  color: var(--bg-black);
  font-size: 1.2rem;}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* try auto-fill */
  gap: 20px;
  padding: 20px;
  width: 100%;
  /* remove or increase max-width */
  max-width: 100%; 
  margin: 0 auto;
  background-color: var(--light-green);}

.grid_item{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grid_item);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);}

.grid_item img{
  width: 100%;
  height: auto;
  border-radius: 9px;
  margin-bottom: 10px;}
  
  .centered_heading{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: var(--bg-black);}

.block_content{
  max-width: 800px;
  margin: 20px auto 20px auto;
  padding: 0 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--bg-bgrid_containerlack);}

.visual_element{
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--bg-black);}

@media (min-width: 768px){
  header span{display: none;}
  header div{text-align: left; margin-left: 40px;}
  header img{height: 200px;}
  nav{display: flex!important; flex-direction: row; justify-content: center;}
  nav a{border-right: 3px solid var(--bg-black);}
  nav a:last-child{border-right: none;}

  .flex768{display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           border-right: 140px solid #000000;}

  .flex768 h2, .flex768 p{
    max-width: 600px;
    margin: 30px;}
}
a{text-decoration: none; color: inherit;}